.banner-style-ones {
    position: relative;
    padding-top: 110px;
    padding-bottom: 100px;
    background: #fff url(assets/OIP.jpg) top right no-repeat; }
    .banner-style-ones:after, .banner-style-ones:before {
      content: '';
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 43px solid;
      position: absolute;
      animation: BannercircleRotate 5s ease-in-out 0s infinite alternate; }
  @keyframes BannercircleRotate {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 1; }
    100% {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: .5; } }
    .banner-style-ones:after {
      border-color: #e8f3f7;
      bottom: 15%;
      right: 12%; }
    .banner-style-ones:before {
      border-color: #F3FAFF;
      top: 11%;
      left: 10%; }
  
    .banner-style-ones .banner-mock {
      position: absolute;
      top: -5%;
      right: 15%;
      animation: bannerImgBounce 20s ease-in-out 0s infinite alternate; }
  @keyframes bannerImgBounce {
    0% {
      -webkit-transform: translateY(0) translateX(0);
      transform: translateY(0) translateX(0); }
    100% {
      -webkit-transform: translateY(-20px) translateX(-20px);
      transform: translateY(-20px) translateX(-20px); } }
    .banner-style-ones [class*=bubble-] {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      position: absolute;
      background-color: #ede8ff;
      border: 1px solid #a98fff;
      animation-name: bubbleMover;
      animation-duration: 9s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      perspective: 100px; }
  @keyframes bubbleMover {
    0% {
      transform: translateY(0px) translateX(0) rotate(0); }
    30% {
      transform: translateY(30px) translateX(50px) rotate(15deg);
      transform-origin: center center; }
    50% {
      transform: translateY(50px) translateX(100px) rotate(45deg);
      transform-origin: right bottom; }
    80% {
      transform: translateY(30px) translateX(50px) rotate(15deg);
      transform-origin: left top; }
    100% {
      transform: translateY(0px) translateX(0) rotate(0);
      transform-origin: center center; } }
    .banner-style-ones .bubble-1 {
      background-color: #fff7e0;
      border-color: #ffdd83;
      top: 10px;
      left: 20px; }
    .banner-style-ones .bubble-2 {
      background-color: #fff1ec;
      border-color: #ffb59d;
      bottom: 30px;
      left: 10%; }
    .banner-style-ones .bubble-3 {
      background-color: #ebf3ff;
      border-color: #b9d4ff;
      top: 40px;
      left: 40%; }
    .banner-style-ones .bubble-4 {
      background-color: #ddffe4;
      border-color: #93ff6d;
      top: 10px;
      right: 40%; }
    .banner-style-ones .bubble-5 {
      background-color: #ede8ff;
      border-color: #a98fff;
      bottom: 30px;
      right: 25%; }
    .banner-style-ones .bubble-6 {
      background-color: #ffe8fb;
      border-color: #ffa6ef;
      top: 40%;
      right: 10%; }
    .banner-style-ones .content-block {
      position: relative;
      z-index: 10; }
      .banner-style-ones .content-block h3,
      .banner-style-ones .content-block p {
        margin: 0; }
      .banner-style-ones .content-block h3 {
        font-family: 'Futura Md BT', sans-serif;
        color: #666666;
        font-size: 60px;
        line-height: 70px;
        font-weight: 500;
        margin-bottom: 0px; }
      .banner-style-ones .content-block p {
        color: #777B92;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px; }
      .banner-style-ones .content-block .banner-btn {
        display: inline-block;
        border-style: solid;
        border-width: 0px;
        border-top: 10px solid ;
        border-color: #a8e8ff;
        border-radius: 4px;
        box-shadow: 0px 15px 30px 0px rgba(52, 152, 219, 0.2);
        vertical-align: middle;
        color: #777B92;
        font-weight: 500;
        font-size: 14px;
        line-height: 1em;
        padding: 22.5px 0;
        padding-left: 63px;
        padding-right: 53px;
            background-color: #fff;
        position: relative;
        width: 250px;
       
        transition: all .4s ease; }
        .banner-style-ones .content-block .banner-btn span {
          font-size: 18px;
          display: block;
          line-height: 1em;
          margin-top: 5px; }
        .banner-style-ones .content-block .banner-btn i {
          font-size: 30px;
          color: #777B92;
          position: absolute;
          top: 50%;
          left: 40px;
          transform: translateY(-50%);
          transition: all .4s ease; }
        .banner-style-ones .content-block .banner-btn + .banner-btn {
          margin-left: 16px; }
        .banner-style-ones .content-block .banner-btn:hover {
          color: #fff;
          background-color: #4fa3e9;
          border-color: #4fa3e9; }
          .banner-style-ones .content-block .banner-btn:hover i {
            color: #fff; }
    .banner-style-ones.home-page-two {
      padding-bottom: 277px;
      background: #fff url(assets/OIP.jpg) top right no-repeat;
      background-size: cover;
      margin-bottom: 60px; }
      .banner-style-ones.home-page-two:before {
        border-color: rgba(255, 255, 255, 0.04); }
      .banner-style-ones.home-page-two:after {
        border-color: rgba(255, 255, 255, 0.02); }
      .banner-style-ones.home-page-two [class*=bubble-] {
        background-color: transparent !important;
        border-width: 2px; }
      .banner-style-ones.home-page-two .banner-mock {
        right: 0;
        top: 20%; }
      .banner-style-ones.home-page-two .content-block h3 {
        color: #fff; }
      .banner-style-ones.home-page-two .content-block p {
        color: #D6C9E4; }
      .banner-style-ones.home-page-two .content-block .banner-btn {
        color: #fff;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        border-radius: 3px;
        background-color: transparent;
        box-shadow: 0px 15px 30px 0px rgba(255, 255, 255, 0.1); }
        .banner-style-ones.home-page-two .content-block .banner-btn i {
          color: #fff; }
        .banner-style-ones.home-page-two .content-block .banner-btn:hover {
          background-color: #E94FCA;
          border-color: #E94FCA; }